*{
    color : #ececec;
    font-family: Roboto , 'Open Sans' , 'Helvetica Neue' , sans-serif;
}

body {
    margin : 0;
    padding : 0;
}

.app{
    background-color: #212121;
    display : flex;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .app {
        flex-direction: row;
    }
}
