.chatWindow{
    background-color: #212121;
    height : 100vh;
    width : 100%;
    display : flex;
    flex-direction: column;
    justify-content : space-between;
    align-items : center;
    text-align : center;
}

/* Navbar */

.navbar{
    width : 100%;
    display : flex;
    justify-content : space-between;
    align-items : center;
}

.navbar span{
    margin : 1rem 2rem;
}

.userIconDiv{
    margin : 1rem 2rem;
}

.userIcon{
    background-color : #339cff;
    height : 25px;
    width : 25px;
    border-radius : 50%;
    display : flex;
    align-items :center;
    justify-content : center;
    cursor : pointer;
}

/* User Input */

.chatInput{
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

.inputBox{
    width : 100%;
    position : relative;
    max-width : 700px;
    display : flex;
    flex-direction : column;
    justify-content: space-between;
    align-items :center;
}

input{
    width : 100%;
    /* height : 5rem; */
    border : none;
    border-radius : 14px;
    background-color : rgba(255 , 255 , 255, 0.05);
    padding : 20px;
    font-size : 0.8rem;
    box-shadow : rgba(0 , 0 , 0 , 0.05) 0 54px 55px,
                 rgba(0 , 0 , 0 , 0.05) 0 -12px 30px,
                 rgba(0 , 0 , 0 , 0.05) 0 4px 6px,
                 rgba(0 , 0 , 0 , 0.05) 0 12px 3px,
                 rgba(0 , 0 , 0 , 0.05) 0 -3px 5px;
}

input:focus{
    outline : none;
}

#submit{
    cursor : pointer;
    margin-top : 0.6rem;
    height : 35px;
    width : 35px;
    font-size : 20px;
    position : absolute;
    right : 15px;
    display : flex;
    align-items : center;
    justify-content : center;
}

#submit i:hover{
    color : #fff;
}

.info{
    font-size : 0.8rem;
    padding :  0.5rem;
    color : #b4b4b4;
}

/* DropDown css */

.dropDown{
    position : absolute;
    top : 4rem;
    right : 4rem;
    height : 10vh;
    width : 22vh;
    background-color: #323232;
    border-radius : 8px;
    text-align : left;
    box-shadow : 0px 2px 8px rgba(0 ,0 , 0 , 0.5);
    display : flex;
    align-items : center;
    justify-content: center;
    flex-direction: column;
}

.dropDown button{
    font-size : 1.2rem;
    width : 22vh;
    height : 10vh;
}

.dropDown button:hover{
    background-color: rgba(180 , 180 , 180 , 0.1);
    border-radius : 1rem;
}