.sidebar{
    background-color: #171717;
    color : #b4b4b4;
    height : 100vh;
    width : 40vh;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    height : 1.5rem;
    width : 1.5rem;
    background-color : white;
    border-radius : 50%;
    object-fit: cover;
}

button{
    display : flex;
    justify-content: space-between;
    align-items : center;
    margin : 10px;
    padding : 10px;
    border-radius : 8px;
    background-color: transparent;
    border :0.5px solid rgba(255 , 255 , 255, 0.5);
}
button:hover{
    background-color : rgba(255 ,255 , 255, 0.1)
}


button span {
    font-size : 1.1rem;
}

.history{
    margin : 10px;
    padding : 8px;
    width : 90%;
    height : 100%;
    align-items: center;
    overflow-y: scroll;
}

.history::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
}

.history li{
    list-style-type: none;
    cursor : pointer;
    margin-bottom : 0.5rem;
    font-size: 14px;
    border : solid 12px transparent;
}

.history li:hover{  
    border-radius : 10px;
    background-color: rgba(255 , 255 , 255, 0.1);
}

.sign{
    padding : 10px;
    margin : 10px;
    font-size : 14px;
    text-align : center;
    border-top : solid 0.25px rgba(255 , 255 , 255, 0.5);
}

.fa-trash{
    color : rgba(255 , 255 , 255, 0.5);
    opacity : 0;
    position : absolute;
    /* right : ; */
}

.history li:hover .fa-trash{
    opacity : 1;
}

.fa-trash:hover{
    color : #f87171;
}

.highlighted{
    background-color : rgba(100 , 100 , 100 , 0.5);
    border-radius : 10px;
}